
.filters {
    display: flex;
}

.filter {
    padding: 0 50px;
}

.client-container {
    display: flex;
    align-items: center;
}

.client-logo {
    align-items: center;
    background-size: 120px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 70px;
    width: 120px;
}

.client-info {
    padding-left: 50px;
}

.hidden {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
}

.grid-container {
    margin: 50px auto;
    width: 80%;
}

.grid-item {
    border: 1px solid #c6c6c6;
    height: 200px;
    width: calc(100% / 3 * 10px);
    margin-bottom: 10px;
}

.wide {
    width: calc(100% * 2 / 3);
}

.v-wid {
    width: 100%;
}

.long {
    height: 400px;
}

.v-long {
    height: 600px;
}
